beautifulsoup4
Jinja2
jupyter
jupyter-client
jupyter-console
jupyter-core
lxml
nbconvert
nbformat
notebook
pandocfilters
parso
pickleshare
pluggy
prometheus-client
Pygments
pytest
python-dateutil
regex
SQLAlchemy
toolz
pre-commit
