beautifulsoup4
Jinja2
jupyter
jupyter-client
jupyter-console
jupyter-core
lxml
nbconvert
nbformat
notebook
pandas
pandocfilters
parso
pickleshare
pluggy
prometheus-client
Pygments
pytest
python-dateutil
regex
SQLAlchemy
toolz
tqdm
pre-commit
