beautifulsoup4
Jinja2
jupyter==1.0.0
jupyter-client==6.1.5
jupyter-console==6.1.0
jupyter-core==4.6.3
lxml
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.5
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pluggy==0.13.1
prometheus-client==0.8.0
Pygments==2.7.4
pytest
python-dateutil
regex
SQLAlchemy==1.3.18
toolz
pre-commit
