.dataframe {
  & thead th {
    text-align: right;
  }
  & tbody tr th {
    vertical-align: top;
  }
  & tbody tr th:only-of-type {
    vertical-align: middle;
  }
}

table.dataframe {
  margin-left: 1rem !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  border-collapse: collapse;
  color: #000;
  font-size: .75rem;
  table-layout: fixed;
  margin-top: 1em;
  > thead {
    border-bottom: 1px solid black;
    vertical-align: bottom;
  }
  > tbody {
    > tr {
      text-align: right;
      vertical-align: middle;
      padding: 0.5em 0.5em;
      line-height: 1.5rem;
      white-space: normal;
      max-width: none;
      border: none;
      > td {
        text-align: right;
        padding: 0 0.5em 0 0.5em;
      }
      &:hover {
        background: rgba(66,165,245,.2);
      }
    }
  }
  > tbody > tr:nth-child(odd) {
    background: #f5f5f5;
  }
  > tbody > tr > td:first-child {
    font-weight: 600;
  }
  + p {
    display: none;
  }
}
