{% if develop is false %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132355416-7"></script>

  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132355416-7');
</script>
{% endif %}
<meta charset="UTF-8">
<title>My Notes</title>
<link rel="stylesheet" href="{{"bootstrap.css"|resolve}}" type="text/css">
<link rel="stylesheet" href="{{"style.css"|resolve}}" type="text/css">


