{% macro make_notebook_item(note) %}
    <div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href={{ note.url }}>{{ note.display_name }}</a></h5>
        <p>{{ note.description }}</p>
    </div>
    <div class="card-footer">
        {% for module in note.modules %}
            <span class="badge badge-pill badge-light module">{{ module.name }}</span>
        {% endfor %}
        {% for keyword in note.keywords %}
            <span class="badge badge-pill badge-light keyword">{{ keyword.name }}</span>
        {% endfor %}
    </div>
    </div>
{% endmacro %}

{% macro make_flat_category(category) %}
    <div class="card mb-2" id="{{ category.name }}">
        <div class="card-header bg-gradient-primary text-white">
            {{ category.display_name }}
        </div>
        <div class="card-columns">
            {% for note in category.notebooks %}
                {{ make_notebook_item(note) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro make_nested_card(category) %}
    <div class="card ml-4 mr-4">
        <div class="card-header bg-gradient-secondary text-white">
            {{ category.display_name }}
        </div>
        <div class="card-columns">
            {% for note in category.notebooks %}
                {{ make_notebook_item(note) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro make_nested_category(category) %}
    <div class="card mb-2" id="{{ category.id }}">
        <div class="card-header bg-gradient-primary text-white">
            {{ category.display_name }}
        </div>
        {% for child in category.children %}
            {{ make_nested_card(child) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro make_header() %}
  <div class="jumbotron-fluid text-center text-white header-radial">
  <h1>My Notes</h1>
  <p>Programming strategies, examples, tips and tricks</p>
</div>
{% endmacro %}

{% macro make_masonry(categories) %}
  <div class="container card-columns">
  {% for category in categories %}
  {% for nb in category.notebooks %}
    {{ make_notebook_item(nb) }}
  {% endfor %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro make_decks(categories) %}
    <div class="container" data-spy="scroll" data-target="@category-navbar" data-offset="0">
        {% for category in categories %}
            {% if category.has_children %}
                {{ make_nested_category(category) }}
            {% else %}
                {{ make_flat_category(category) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro make_navbar(categories) %}
    <nav id="category-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="#">My Notes</a>
        <ul class="nav nav-pills">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="#{{ category.name }}">{{ category.display_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
