$enable-shadows: true;
$enable-gradients: true;
$blue: #284479;
$primary: $blue;
$complementary: #d9742c;
$body-bg: #fafffd;
$link-hover-decoration: none;

$theme-colors: (
  "complementary": $complementary
);

@import "/home/eric/PycharmProjects/MyNotes/node_modules/bootstrap/scss/bootstrap";
